In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://flunky.github.io/cars2017.csv')
df.head(20)

,Make,Fuel,EngineCylinders,AverageHighwayMPG,AverageCityMPG
0,Acura,Gasoline,4,35,25
1,Acura,Gasoline,6,28,21
2,Alfa Romeo,Gasoline,4,33,24
3,Alfa Romeo,Gasoline,6,24,17
4,Aston Martin,Gasoline,12,19,12
5,Audi,Gasoline,4,30,23
6,Audi,Gasoline,6,27,19
7,Audi,Gasoline,8,26,17
8,Audi,Gasoline,10,22,14
9,Audi,Gasoline,4,32,24
10,Bentley,Gasoline,8,22,13
11,Bentley,Gasoline,12,20,12
12,BMW,Diesel,4,41,30
13,BMW,Diesel,6,29,23
14,BMW,Electricity,0,109,133
15,BMW,Gasoline,2,33,36
16,BMW,Gasoline,3,29,28
17,BMW,Gasoline,4,32,23
18,BMW,Gasoline,6,28,19
19,BMW,Gasoline,8,23,15

In [14]:
df['Make'].unique()

array(['Acura', 'Alfa Romeo', 'Aston Martin', 'Audi', 'Bentley', 'BMW',
       'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'Ferrari',
       'Fiat', 'Ford', 'Genesis', 'GMC', 'Honda', 'Hyundai', 'Infiniti',
       'Jaguar', 'Jeep', 'Kia', 'Lamborghini', 'Land Rover', 'Lexus',
       'Lincoln', 'Lotus', 'Maserati', 'Mazda', 'McLaren Automotive',
       'Mercedes-Benz', 'MINI', 'Mitsubishi', 'Nissan', 'Porsche', 'Ram',
       'Rolls-Royce', 'Roush Performance', 'smart', 'Subaru', 'Tesla',
       'Toyota', 'Volkswagen', 'Volvo'], dtype=object)

In [13]:
df[df['Fuel'] == 'Diesel']

          Make    Fuel  EngineCylinders  AverageHighwayMPG  AverageCityMPG
12         BMW  Diesel                4                 41              30
13         BMW  Diesel                6                 29              23
30   Chevrolet  Diesel                4                 29              21
61         GMC  Diesel                4                 29              21
75      Jaguar  Diesel                4                 39              30
91  Land Rover  Diesel                6                 28              22